<!DOCTYPE html>
<html lang="en">
<!-- Header Start -->
{% load static %}
{% include 'accounts/base/base_header.html' %}
<!-- Header end -->


<body>
    <div class="container-fluid position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

        <!-- Side-bar Start -->
        {% include 'accounts/base/base_sidebar.html' %}  
        <!-- Side-bar end -->
      


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            {% include 'accounts/base/base_navbar.html' %}  
            <!-- Navbar End -->

            
            {% block content %}
            
            {% endblock content %}
            <!-- Footer Start -->
            {% include 'accounts/base/base_footer.html' %}
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'accounts/lib/chart/chart.min.js' %}"></script>
    <script src="{% static 'accounts/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'accounts/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'accounts/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'accounts/lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'accounts/lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'accounts/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <!-- Template Javascript -->
    <script src="{% static 'accounts/js/main.js' %}"></script>
</body>

</html>